@using MovieWeb.Areas.Admin.Models;
@model List<Product>

<div class="conteiner">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus circle"></i> Create New Product
            </a>
        </div>


    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Film Name
                </th>
                <th>
                    IMDb Rating
                </th>
                <th>
                    Director
                </th>
                <th>
                    List Price
                </th>
                <th>
                    Category
                </th>
                <th>
                    Id
                </th>
            </tr>

        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/product.js"></script>
}