@model ProductVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id != 0?"Update":"Create") Product</h2>
            <hr />

        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Product.Name" class="p-2"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Product.Rating" class="p-2"></label>
            <input asp-for="Product.Rating" class="form-control" />
            <span asp-validation-for="Product.Rating" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Product.Director" class="p-2"></label>
            <input asp-for="Product.Director" class="form-control" />
            <span asp-validation-for="Product.Director" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Product.ListPrice" class="p-2"></label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Product.Description" class="p-2"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
 

        </div>
        <div class="mb-3">
            <label asp-for="Product.CategoryId" class="p-2"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Product.imageUrl" class="p-2"></label>
            <input type="file" name="file" class="form-control" />

        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                @if(Model.Product.Id != 0)
                {
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                }
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control border">
                    Back to List

                </a>


            </div>
        </div>
    </div>

</form>

@section Scripts{

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}

